body{
	margin: 0px;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333333;
}

a{
	text-decoration: none;
	color: #FFFFFF;
}
a:visited{
	text-decoration: none;
	color: #FFFFFF;
}

.parallax{
	background-image: url('bg.png');
	height: 50%;
	min-height: 200px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
}

.bot-upper-breaker{
	height: calc(50% - 85px);
	width: 100%;
}

.bot-image{
	display: block;
	width: 120px;
	height; 120px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.bot-title{
	display: block;
	color: #FFFFFF;
	font-size: 40px;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

.main{
	background-color: #333333;
	border-top: 5px solid #000000;
}

.nav-wrapper{
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #1A1A1A;
}

.option{
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	height: 100%;
	line-height: 100px;
	float: left;
	width: calc(33% - 2px);
	text-overflow: clip;
	border-left: 1px solid #1A1A1A;
	border-right: 1px solid #1A1A1A;
	transition: 0.1s;
}

.option:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.desc{
	color: #FFFFFF;	
	font-size: 20px;
	width: 85%;
	max-width: 680px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.discord{
	margin-left: auto;
	margin-right: auto;
	max-width: 550px;
	width: 85%;
	height: 400px;
	display: block;
	margin-top: 40px;
}

.home{
	padding: 5px;
	border: 2px solid #1A1A1A;
	border-radius: 5px;
	color: #FFFFFF;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
