<html>
	<head>
		<link rel="stylesheet" type="text/css" href="resources/main.css" />	
		<script src="resources/jquery.js"></script>
		<script src="resources/home.js"></script>
	</head>
	<body>
		<div class="parallax">
			<div class="bot-upper-breaker"></div>
			<img src="resources/prof.png" class="bot-image">
			<div class="bot-title">BaristaBot</div>
		</div>
		<div class="main"> 
			<div class="nav-wrapper">
				<a class="option" href="#usage">Usage</a>
				<a class="option" style="width: calc(34% - 2px);" href="reference">Reference</a>
				<a class="option" href="https://github.com/Squashbucklr/BaristaBot">GitHub</a>
			</div>	
		</div>		
	</body>
</html>
